.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-input {
  margin-top: 10px;
  margin-left: 5%;
  width: 90%;
  max-width: 90%;
  border: 2px solid rgb(73, 165, 226);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.review-textarea {
  margin-top: 10px;
  margin-left: 5%;
  width: 90%;
  max-width: 90%;
  border: 2px solid rgb(73, 165, 226);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
