.header {
  width: 300px;
  padding: 20px;
}
.navigation__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.navigation__li {
  margin-right: 25px;
}

.navigation__link {
transition: all 1s;
}